* {
    box-sizing: border-box;  /*here we are using box sizing as default styling bcoz everything in icluded inside the content box like padding or border etc*/
    list-style: none; /*bullet points infront of items gets removed*/
    margin: 0px; /*to remove default margin*/

}

/* header{
    padding: 50px;
    text-align: center;
    background-color: cornflowerblue;
    color: cornsilk;
    font-size: 30px;
} */

footer , nav{
    background-color: rgb(252, 67, 67);
    /* overflow: hidden; */
    display: flex;
}
footer a , nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left; /*float property ke karan hme elemnt nhi dikhta hai kyoki vo normal flow se hat jata hai isliye we use overflow hidden */
    
}
section {
    text-align: center;
    height: 80%;
    padding: 75px 0px;
    min-height: 40vh;
}

 body{
    margin: 0px;
} 

header{
    background-color: black;
}

section:nth-child(even){
    background-color: rgb(241, 238, 238);
}

/* iframe{
    padding: 0px 5px;
} */

img{
    padding: 0px 20px;
}

h2{
    padding-bottom: 40px;
}


/* .copyright{
    float: right;
} */

section h4{
    margin:  0px 130px;
}

.banner{
    background-image: url(../Assets/Logo/logo.gif);
    height: 20vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center ;
    background-size: 40%;
    background-attachment:fixed;
}

.flex-align-right{
    margin-left: auto;
}

.menu-btn:hover{
    background-color: rgb(34, 255, 27);
    color:black
}

section h2 span{
    background: linear-gradient(to right, #f5d837, #bbb812);
    padding: 10px 55px;
    border-radius: 20px;
    color:white;                                                    
}

/* carousel feature */

.carousel-cell {
  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
  
}

.carousel-cell video {
    max-width: 100%;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    
  } 
  
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.img-responsive{
    max-width:100vh;
    height:100vh;
}

.profile_img{
    border-radius: 50%;
}

.profile_name{
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin: 20px 0px 30px 0px;

}

.sm-handle a {
    background-color: rgb(125 125 125 / 25%);
    padding: 10px 15px;
    border-radius: 30px;
    margin: 5px 10px;
    text-decoration: none;
    font-size: 20px;

}

.sm-handle a:hover{
    background-color: rgb(30 30 30 / 25%);

}

.sm-handle a i{
    margin: 5px;
}

.yt-handle{
    color:#FF0000;
}

.facebook-handle{
    color:#13486b;
}

.instagram-handle{
    color:#dd2a7b;
}

.about_title{
    font-size: 1.45em;
    padding: 0px 10px; 
    color: #120f5e;
}

.about_content{
    color: #1c1a3a;
    font-weight: 900;
    padding: 10px 0px 20px 0px;

}


@media screem  and (max-width : 700px) {
    footer , nav{
        flex-direction: coloumn;
        padding: 10px 0px ;
    }
    .flex-align-right{
        margin: left 0;;
    }
}